<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:insert="blocks/header"></div>
<div class="container mt-5 mb-5">
    <h1>Add Blog</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Enter name" class="form-control"><br>
        <input type="text" name="anons" placeholder="Enter anons" class="form-control"><br>
        <textarea name="full_text" placeholder="Enter text" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Add new blog</button>
    </form>
</div>
<div class="container mt-5" th:insert="blocks/footer"></div>
</body>
</html>